<a href="https://colab.research.google.com/github/u6k/ml-sandbox/blob/master/predict_horse_racing.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [40]:
import pandas as pd

df_all = pd.read_csv("drive/My Drive/ml_data/race_meta_and_scores.csv")

df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 25 columns):
race_meta_id         207945 non-null int64
race_id              207945 non-null int64
course_name          207945 non-null object
course_length        207945 non-null object
race_name            207945 non-null object
race_number          207945 non-null int64
start_datetime       207667 non-null object
weather              207667 non-null object
course_condition     207667 non-null object
race_class           207945 non-null object
prize_class          207945 non-null object
horse_number         207945 non-null int64
horse_id             207945 non-null int64
horse_name           207945 non-null object
gender               207945 non-null object
age                  207945 non-null int64
coat_color           207945 non-null object
horse_weight         207945 non-null int64
trainer_id           207945 non-null int64
jockey_id            207945 non-null int64
jockey_weight        207945 non-null float64
father_horse_name    207945 non-null object
mother_horse_name    207945 non-null object
rank                 206922 non-null float64
time                 206922 non-null float64
dtypes: float64(3), int64(9), object(13)
memory usage: 39.7+ MB

,race_meta_id,race_id,course_name,course_length,race_name,race_number,start_datetime,weather,course_condition,race_class,...,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,father_horse_name,mother_horse_name,rank,time
0,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,450,1081,1117,54.0,スウェプトオーヴァーボード,ハッピーチケット,13.0,75.4
1,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,黒鹿毛,452,428,1085,54.0,スクワートルスクワート,フレンチミヤコ,16.0,76.3
2,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,468,1038,1051,54.0,ロッコウオロシ,ハチノヨウニサス,12.0,75.3
3,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,青鹿毛,470,1005,733,54.0,ヴァーミリアン,バディ,4.0,72.7
4,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,458,1048,1153,51.0,エンパイアメーカー,スイートフィズ,5.0,72.7

In [74]:
df = df_all[["course_length",
            "weather",
            "course_condition",
            "race_class",
            "prize_class",
            "gender",
            "age",
            "coat_color",
             "horse_weight",
            "trainer_id",
            "jockey_id",
            "jockey_weight",
            "rank"]]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 13 columns):
course_length       207945 non-null object
weather             207667 non-null object
course_condition    207667 non-null object
race_class          207945 non-null object
prize_class         207945 non-null object
gender              207945 non-null object
age                 207945 non-null int64
coat_color          207945 non-null object
horse_weight        207945 non-null int64
trainer_id          207945 non-null int64
jockey_id           207945 non-null int64
jockey_weight       207945 non-null float64
rank                206922 non-null float64
dtypes: float64(2), int64(4), object(7)
memory usage: 20.6+ MB

,course_length,weather,course_condition,race_class,prize_class,gender,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,rank
0,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,450,1081,1117,54.0,13.0
1,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,黒鹿毛,452,428,1085,54.0,16.0
2,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,468,1038,1051,54.0,12.0
3,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,青鹿毛,470,1005,733,54.0,4.0
4,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,458,1048,1153,51.0,5.0

In [77]:
df.isnull().sum()

course_length          0
weather              278
course_condition     278
race_class             0
prize_class            0
gender                 0
age                    0
coat_color             0
horse_weight           0
trainer_id             0
jockey_id              0
jockey_weight          0
rank                1023
dtype: int64

In [76]:
df.head()

,course_length,weather,course_condition,race_class,prize_class,gender,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,rank
0,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,450,1081,1117,54.0,13.0
1,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,黒鹿毛,452,428,1085,54.0,16.0
2,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,468,1038,1051,54.0,12.0
3,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,青鹿毛,470,1005,733,54.0,4.0
4,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,458,1048,1153,51.0,5.0

In [25]:
df_course_length = pd.get_dummies(df["course_length"])

df_course_length.info()
df_course_length.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 87 columns):
ダート・右 1000m        207945 non-null uint8
ダート・右 1150m        207945 non-null uint8
ダート・右 1200m        207945 non-null uint8
ダート・右 1400m        207945 non-null uint8
ダート・右 1700m        207945 non-null uint8
ダート・右 1800m        207945 non-null uint8
ダート・右 1900m        207945 non-null uint8
ダート・右 2000m        207945 non-null uint8
ダート・右 2400m        207945 non-null uint8
ダート・右 2500m        207945 non-null uint8
ダート・左 1200m        207945 non-null uint8
ダート・左 1300m        207945 non-null uint8
ダート・左 1400m        207945 non-null uint8
ダート・左 1600m        207945 non-null uint8
ダート・左 1800m        207945 non-null uint8
ダート・左 1900m        207945 non-null uint8
ダート・左 2100m        207945 non-null uint8
ダート・左 2400m        207945 non-null uint8
ダート・左 2500m        207945 non-null uint8
芝・右 1000m          207945 non-null uint8
芝・右 1200m          207945 non-null uint8
芝・右 1400m          207945 non-null uint8
芝・右 1500m          207945 non-null uint8
芝・右 1600m          207945 non-null uint8
芝・右 1700m          207945 non-null uint8
芝・右 1800m          207945 non-null uint8
芝・右 2000m          207945 non-null uint8
芝・右 2200m          207945 non-null uint8
芝・右 2500m          207945 non-null uint8
芝・右 2600m          207945 non-null uint8
芝・右 3000m          207945 non-null uint8
芝・右・内2周 3600m      207945 non-null uint8
芝・右・外 1200m        207945 non-null uint8
芝・右・外 1400m        207945 non-null uint8
芝・右・外 1600m        207945 non-null uint8
芝・右・外 1800m        207945 non-null uint8
芝・右・外 2200m        207945 non-null uint8
芝・右・外 2400m        207945 non-null uint8
芝・右・外 2600m        207945 non-null uint8
芝・右・外 3000m        207945 non-null uint8
芝・右・外 3200m        207945 non-null uint8
芝・左 1200m          207945 non-null uint8
芝・左 1400m          207945 non-null uint8
芝・左 1600m          207945 non-null uint8
芝・左 1800m          207945 non-null uint8
芝・左 2000m          207945 non-null uint8
芝・左 2200m          207945 non-null uint8
芝・左 2300m          207945 non-null uint8
芝・左 2400m          207945 non-null uint8
芝・左 2500m          207945 non-null uint8
芝・左 3400m          207945 non-null uint8
芝・左・外 1600m        207945 non-null uint8
芝・左・外 1800m        207945 non-null uint8
芝・左・外 2000m        207945 non-null uint8
芝・直線 1000m         207945 non-null uint8
障害・芝 2750m         207945 non-null uint8
障害・芝 2770m         207945 non-null uint8
障害・芝 2860m         207945 non-null uint8
障害・芝 2900m         207945 non-null uint8
障害・芝 3000m         207945 non-null uint8
障害・芝 3110m         207945 non-null uint8
障害・芝 3140m         207945 non-null uint8
障害・芝 3210m         207945 non-null uint8
障害・芝 3300m         207945 non-null uint8
障害・芝 3330m         207945 non-null uint8
障害・芝 3350m         207945 non-null uint8
障害・芝 3380m         207945 non-null uint8
障害・芝 3390m         207945 non-null uint8
障害・芝 3570m         207945 non-null uint8
障害・芝 3900m         207945 non-null uint8
障害・芝 3930m         207945 non-null uint8
障害・芝 4100m         207945 non-null uint8
障害・芝→ダート 2880m     207945 non-null uint8
障害・芝→ダート 2910m     207945 non-null uint8
障害・芝→ダート 2970m     207945 non-null uint8
障害・芝→ダート 3000m     207945 non-null uint8
障害・芝→ダート 3100m     207945 non-null uint8
障害・芝→ダート 3110m     207945 non-null uint8
障害・芝→ダート 3170m     207945 non-null uint8
障害・芝→ダート 3200m     207945 non-null uint8
障害・芝・内->外 3170m    207945 non-null uint8
障害・芝・外 3350m       207945 non-null uint8
障害・芝・外 4250m       207945 non-null uint8
障害・芝・外->内 2850m    207945 non-null uint8
障害・芝・外->内 2890m    207945 non-null uint8
障害・芝・外->内 3250m    207945 non-null uint8
障害・芝・外->内 3290m    207945 non-null uint8
dtypes: uint8(87)
memory usage: 17.3 MB

,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,ダート・右 2000m,ダート・右 2400m,ダート・右 2500m,...,障害・芝→ダート 3110m,障害・芝→ダート 3170m,障害・芝→ダート 3200m,障害・芝・内->外 3170m,障害・芝・外 3350m,障害・芝・外 4250m,障害・芝・外->内 2850m,障害・芝・外->内 2890m,障害・芝・外->内 3250m,障害・芝・外->内 3290m
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_weather = pd.get_dummies(df["weather"])

df_weather.info()
df_weather.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 6 columns):
小雨    207945 non-null uint8
小雪    207945 non-null uint8
晴     207945 non-null uint8
曇     207945 non-null uint8
雨     207945 non-null uint8
雪     207945 non-null uint8
dtypes: uint8(6)
memory usage: 1.2 MB

   小雨  小雪  晴  曇  雨  雪
0   0   0  1  0  0  0
1   0   0  1  0  0  0
2   0   0  1  0  0  0
3   0   0  1  0  0  0
4   0   0  1  0  0  0

In [27]:
df_course_condition = pd.get_dummies(df["course_condition"])

df_course_condition.info()
df_course_condition.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 4 columns):
不良    207945 non-null uint8
稍重    207945 non-null uint8
良     207945 non-null uint8
重     207945 non-null uint8
dtypes: uint8(4)
memory usage: 812.4 KB

   不良  稍重  良  重
0   0   1  0  0
1   0   1  0  0
2   0   1  0  0
3   0   1  0  0
4   0   1  0  0

In [28]:
df_race_class = pd.get_dummies(df["race_class"])

df_race_class.info()
df_race_class.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 6 columns):
サラ系2歳        207945 non-null uint8
サラ系3歳        207945 non-null uint8
サラ系3歳以上      207945 non-null uint8
サラ系4歳以上      207945 non-null uint8
サラ系障害3歳以上    207945 non-null uint8
サラ系障害4歳以上    207945 non-null uint8
dtypes: uint8(6)
memory usage: 1.2 MB

   サラ系2歳  サラ系3歳  サラ系3歳以上  サラ系4歳以上  サラ系障害3歳以上  サラ系障害4歳以上
0      1      0        0        0          0          0
1      1      0        0        0          0          0
2      1      0        0        0          0          0
3      1      0        0        0          0          0
4      1      0        0        0          0          0

In [29]:
df_prize_class = pd.get_dummies(df["prize_class"])

df_prize_class.info()
df_prize_class.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 94 columns):
1000万下  ハンデ              207945 non-null uint8
1000万下  定量               207945 non-null uint8
1000万下 [指定] ハンデ          207945 non-null uint8
1000万下 [指定] 定量           207945 non-null uint8
1000万下 牝 [指定] 定量         207945 non-null uint8
1000万下 牝 定量              207945 non-null uint8
1000万下 牝 （特指） 定量         207945 non-null uint8
1000万下 （混合） ハンデ          207945 non-null uint8
1000万下 （混合） 定量           207945 non-null uint8
1000万下 （混合） 牝 [指定] 定量    207945 non-null uint8
1000万下 （混合） 牝 （特指） 定量    207945 non-null uint8
1000万下 （混合）[指定] ハンデ      207945 non-null uint8
1000万下 （混合）[指定] 定量       207945 non-null uint8
1000万下 （混合）（特指） 定量       207945 non-null uint8
1000万下 （特指） 定量           207945 non-null uint8
1600万下 （混合） ハンデ          207945 non-null uint8
1600万下 （混合） 定量           207945 non-null uint8
1600万下 （混合） 牝 [指定] 定量    207945 non-null uint8
1600万下 （混合） 牝 （特指） 定量    207945 non-null uint8
1600万下 （混合）[指定] ハンデ      207945 non-null uint8
1600万下 （混合）[指定] 定量       207945 non-null uint8
1600万下 （混合）（特指） 定量       207945 non-null uint8
500万下  定量                207945 non-null uint8
500万下  馬齢                207945 non-null uint8
500万下 [指定] 定量            207945 non-null uint8
500万下 [指定] 馬齢            207945 non-null uint8
500万下 牝 [指定] 定量          207945 non-null uint8
500万下 牝 [指定] 馬齢          207945 non-null uint8
500万下 牝 定量               207945 non-null uint8
500万下 牝 馬齢               207945 non-null uint8
500万下 牝 （特指） 定量          207945 non-null uint8
500万下 牝 （特指） 馬齢          207945 non-null uint8
500万下 若手騎手 定量            207945 non-null uint8
500万下 （混合） 定量            207945 non-null uint8
500万下 （混合） 牝 （特指） 馬齢     207945 non-null uint8
500万下 （混合） 馬齢            207945 non-null uint8
500万下 （混合）[指定] 定量        207945 non-null uint8
500万下 （混合）[指定] 馬齢        207945 non-null uint8
500万下 （混合）（特指） 定量        207945 non-null uint8
500万下 （混合）（特指） 馬齢        207945 non-null uint8
500万下 （特指） 定量            207945 non-null uint8
500万下 （特指） 馬齢            207945 non-null uint8
オープン 九州産馬 （指定） 別定        207945 non-null uint8
オープン （国際） ハンデ            207945 non-null uint8
オープン （国際） 別定             207945 non-null uint8
オープン （国際） 定量             207945 non-null uint8
オープン （国際） 牝 ハンデ          207945 non-null uint8
オープン （国際） 牝 （指定） 別定      207945 non-null uint8
オープン （国際） 牝 （指定） 定量      207945 non-null uint8
オープン （国際） 牝 （指定） 馬齢      207945 non-null uint8
オープン （国際） 牡・牝 （指定） 定量    207945 non-null uint8
オープン （国際） 牡・牝 （指定） 馬齢    207945 non-null uint8
オープン （国際）[指定] ハンデ        207945 non-null uint8
オープン （国際）[指定] 別定         207945 non-null uint8
オープン （国際）牝[指定] ハンデ       207945 non-null uint8
オープン （国際）牝[指定] 別定        207945 non-null uint8
オープン （国際）牝（特指） ハンデ       207945 non-null uint8
オープン （国際）牝（特指） 別定        207945 non-null uint8
オープン （国際）牡・牝（特指） 馬齢      207945 non-null uint8
オープン （国際）（指定） ハンデ        207945 non-null uint8
オープン （国際）（指定） 別定         207945 non-null uint8
オープン （国際）（指定） 定量         207945 non-null uint8
オープン （国際）（指定） 馬齢         207945 non-null uint8
オープン （国際）（特指） ハンデ        207945 non-null uint8
オープン （国際）（特指） 別定         207945 non-null uint8
オープン （国際）（特指） 定量         207945 non-null uint8
オープン （国際）（特指） 馬齢         207945 non-null uint8
オープン （混合） ハンデ            207945 non-null uint8
オープン （混合） 別定             207945 non-null uint8
オープン （混合） 牝 （指定） 馬齢      207945 non-null uint8
オープン （混合） 牝 （特指） 別定      207945 non-null uint8
オープン （混合）[指定] ハンデ        207945 non-null uint8
オープン （混合）[指定] 別定         207945 non-null uint8
オープン （混合）（指定） 別定         207945 non-null uint8
オープン （混合）（指定） 馬齢         207945 non-null uint8
オープン （混合）（特指） ハンデ        207945 non-null uint8
オープン （混合）（特指） 別定         207945 non-null uint8
新馬  馬齢                   207945 non-null uint8
新馬 [指定] 馬齢               207945 non-null uint8
新馬 九州産馬 [指定] 馬齢          207945 non-null uint8
新馬 牝 [指定] 馬齢             207945 non-null uint8
新馬 牝 馬齢                  207945 non-null uint8
新馬 （混合） 馬齢               207945 non-null uint8
新馬 （混合）[指定] 馬齢           207945 non-null uint8
未勝利  定量                  207945 non-null uint8
未勝利  馬齢                  207945 non-null uint8
未勝利 [指定] 馬齢              207945 non-null uint8
未勝利 九州産馬 [指定] 馬齢         207945 non-null uint8
未勝利 牝 [指定] 馬齢            207945 non-null uint8
未勝利 牝 馬齢                 207945 non-null uint8
未勝利 若手騎手 馬齢              207945 non-null uint8
未勝利 （混合） 定量              207945 non-null uint8
未勝利 （混合） 馬齢              207945 non-null uint8
未勝利 （混合）[指定] 馬齢          207945 non-null uint8
dtypes: uint8(94)
memory usage: 18.6 MB

,1000万下 ハンデ,1000万下 定量,1000万下 [指定] ハンデ,1000万下 [指定] 定量,1000万下 牝 [指定] 定量,1000万下 牝 定量,1000万下 牝 （特指） 定量,1000万下 （混合） ハンデ,1000万下 （混合） 定量,1000万下 （混合） 牝 [指定] 定量,...,未勝利 定量,未勝利 馬齢,未勝利 [指定] 馬齢,未勝利 九州産馬 [指定] 馬齢,未勝利 牝 [指定] 馬齢,未勝利 牝 馬齢,未勝利 若手騎手 馬齢,未勝利 （混合） 定量,未勝利 （混合） 馬齢,未勝利 （混合）[指定] 馬齢
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [30]:
df_gender = pd.get_dummies(df["gender"])

df_gender.info()
df_gender.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 3 columns):
せん    207945 non-null uint8
牝     207945 non-null uint8
牡     207945 non-null uint8
dtypes: uint8(3)
memory usage: 609.3 KB

   せん  牝  牡
0   0  1  0
1   0  1  0
2   0  1  0
3   0  1  0
4   0  1  0

In [31]:
df_age = pd.get_dummies(df["age"])

df_age.info()
df_age.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 11 columns):
2     207945 non-null uint8
3     207945 non-null uint8
4     207945 non-null uint8
5     207945 non-null uint8
6     207945 non-null uint8
7     207945 non-null uint8
8     207945 non-null uint8
9     207945 non-null uint8
10    207945 non-null uint8
11    207945 non-null uint8
12    207945 non-null uint8
dtypes: uint8(11)
memory usage: 2.2 MB

   2   3   4   5   6   7   8   9   10  11  12
0   1   0   0   0   0   0   0   0   0   0   0
1   1   0   0   0   0   0   0   0   0   0   0
2   1   0   0   0   0   0   0   0   0   0   0
3   1   0   0   0   0   0   0   0   0   0   0
4   1   0   0   0   0   0   0   0   0   0   0

In [32]:
df_coat_color = pd.get_dummies(df["coat_color"])

df_coat_color.info()
df_coat_color.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 8 columns):
栃栗毛    207945 non-null uint8
栗毛     207945 non-null uint8
白毛     207945 non-null uint8
芦毛     207945 non-null uint8
青毛     207945 non-null uint8
青鹿毛    207945 non-null uint8
鹿毛     207945 non-null uint8
黒鹿毛    207945 non-null uint8
dtypes: uint8(8)
memory usage: 1.6 MB

   栃栗毛  栗毛  白毛  芦毛  青毛  青鹿毛  鹿毛  黒鹿毛
0    0   0   0   0   0    0   1    0
1    0   0   0   0   0    0   0    1
2    0   0   0   0   0    0   1    0
3    0   0   0   0   0    1   0    0
4    0   0   0   0   0    0   1    0

In [33]:
df_trainer_id = pd.get_dummies(df["trainer_id"])

df_trainer_id.info()
df_trainer_id.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 338 entries, 131 to 5735
dtypes: uint8(338)
memory usage: 67.0 MB

,131,138,201,208,224,261,339,341,343,346,...,5726,5727,5728,5729,5730,5731,5732,5733,5734,5735
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_jockey_id = pd.get_dummies(df["jockey_id"])

df_jockey_id.info()
df_jockey_id.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 286 entries, 409 to 5585
dtypes: uint8(286)
memory usage: 56.7 MB

,409,422,629,635,641,652,655,660,663,666,...,5572,5573,5574,5575,5578,5580,5581,5583,5584,5585
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_father_horse_name = pd.get_dummies(df_all["father_horse_name"])

df_father_horse_name.info()
df_father_horse_name.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 654 entries, - to ヴリル
dtypes: uint8(654)
memory usage: 129.7 MB

,-,A. P. Warrior,A.P. Indy,Acclamation,Adios Charlie,Admire Don,Admire Moon,Afleet Alex,After Market,Al Kazeem,...,ローレルゲレイロ,ワイルドラッシュ,ワイルドワンダー,ワンダースピード,ワークフォース,ヴァーミリアン,ヴィクトリー,ヴィクトワールピサ,ヴィットリオドーロ,ヴリル
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_mother_horse_name = pd.get_dummies(df_all["mother_horse_name"])

df_mother_horse_name.info()
df_mother_horse_name.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 11468 entries, - to ヴードゥーレディ
dtypes: uint8(11468)
memory usage: 2.2 GB

,-,A Bit of Humor,A Bit of Pressure,Above Heaven,Absolutelyfabulous,Ada Clare,Age of Silver,Aguilera,Aheadnotatail,Air France,...,ヴェルヴェットレディ,ヴェルーテ,ヴェントス,ヴォラドーレス,ヴォルドニュイ,ヴォルピア,ヴォークリンデ,ヴュルデバンダム,ヴンダーゾンネ,ヴードゥーレディ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df_input = pd.concat([df.drop(["course_length"], axis=1), df_course_length], axis=1)
df_input = pd.concat([df_input.drop(["weather"], axis=1), df_weather], axis=1)
df_input = pd.concat([df_input.drop(["course_condition"], axis=1), df_course_condition], axis=1)
df_input = pd.concat([df_input.drop(["race_class"], axis=1), df_race_class], axis=1)
df_input = pd.concat([df_input.drop(["prize_class"], axis=1), df_prize_class], axis=1)
df_input = pd.concat([df_input.drop(["gender"], axis=1), df_gender], axis=1)
df_input = pd.concat([df_input.drop(["age"], axis=1), df_age], axis=1)
df_input = pd.concat([df_input.drop(["coat_color"], axis=1), df_coat_color], axis=1)
df_input = pd.concat([df_input.drop(["trainer_id"], axis=1), df_trainer_id], axis=1)
df_input = pd.concat([df_input.drop(["jockey_id"], axis=1), df_jockey_id], axis=1)

df_input.info()
df_input.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 846 entries, horse_weight to 5585
dtypes: float64(2), int64(1), uint8(843)
memory usage: 171.9 MB

,horse_weight,jockey_weight,rank,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,...,5572,5573,5574,5575,5578,5580,5581,5583,5584,5585
0,450,54.0,13.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,452,54.0,16.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,468,54.0,12.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,470,54.0,4.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,458,51.0,5.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
import sklearn.preprocessing

df_input["horse_weight"] = preprocessing.minmax_scale(df_input["horse_weight"])
df_input["jockey_weight"] = preprocessing.minmax_scale(df_input["jockey_weight"])
df_input["rank"] = preprocessing.minmax_scale(df_input["rank"])

df_input.info()
df_input.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Columns: 846 entries, horse_weight to 5585
dtypes: float64(3), uint8(843)
memory usage: 171.9 MB

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64.
  warnings.warn(msg, DataConversionWarning)

,horse_weight,jockey_weight,rank,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,...,5572,5573,5574,5575,5578,5580,5581,5583,5584,5585
0,0.703125,0.411765,0.705882,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.706250,0.411765,0.882353,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.731250,0.411765,0.647059,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.734375,0.411765,0.176471,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.715625,0.235294,0.235294,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
x = df_input.drop(["rank"], axis=1)
y = df_input["rank"]

In [60]:
x.head()

,horse_weight,jockey_weight,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,ダート・右 2000m,...,5572,5573,5574,5575,5578,5580,5581,5583,5584,5585
0,0.703125,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.706250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.731250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.734375,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.715625,0.235294,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
y.head()

0    0.705882
1    0.882353
2    0.647059
3    0.176471
4    0.235294
Name: rank, dtype: float64

In [69]:
import sklearn.model_selection

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

print("x_train.shape: {0}".format(x_train.shape))
print("x_test.shape: {0}".format(x_test.shape))
print("y_train.shape: {0}".format(y_train.shape))
print("y_test.shape: {0}".format(y_test.shape))

x_train.shape: (155958, 845)
x_test.shape: (51987, 845)
y_train.shape: (155958,)
y_test.shape: (51987,)

In [70]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

ValueError: ignored